@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --cor--sucesso: greenyellow;
    --cor--erro: red;
    --cor--voltar: #551A8B;
    /* --cor--branco: white;
    --cor--azul: blue;
    --cor--turquesa:teal;
    --cor--cinza: lightslategray; */

}   
body{
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 ;
    font-style: normal;
    background-color:ivory;
    border: 0;
    color: var(--cor--voltar);

}

.conteiner {
    background-color: white;
    width: 70%;
    margin:0 auto;  
    border:0;
    border-radius: 10px;
    color: var(--cor--voltar);

}

.conteiner table{
    
    width: 100%;
    border-collapse:collapse;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    color: var(--cor--voltar);

    thead, th, body td, tr {
        border-color:  inherit;
        border-style: solid;
        border: 0;
        color: var(--cor--voltar);
    }
    th, td {
        border-bottom-width: 0px;
        padding: 0.5rem;
        text-align: left;

    }

    /* tbody tr:nth-child(even){
        background-color: var(--cor--turquesa)

    }
     */
    tbody tr:houver{
        background-color:var(--cor--cinza)

    }
}   

.notificacao{
    position: fixed;    
    top: 20px;
    right: 20px;
    color: var(--cor--branco);
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 10px( 0, 0 , 0 , 1);
    z-index: 10;
    
    &.sucesso {
        background-color: var(--cor--sucesso)
    }

    &.erro{
        background-color:var(--cor--erro)
    }
}



.editar {
    padding: 15px;
    margin: auto;
}

.formulario {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 50px;
    gap: 20px;
    align-items: center ;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    padding: 50px;
}

.formulario input{
    width: 100%;
    border-radius: 5px;
    border: none;
    border: solid 0.5px black;   
}

.formulario button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 50%;
    background-color: greenyellow;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    cursor: pointer;
}

.formulario textarea{
    width: 100%;
    padding: 10px;
}

.formulario button:hover{

    background-color: rgb(136, 220, 10);
}
.formulario div{
    width: 100%;
}

.formulario div input{
    padding: 10px;
    
}

#visualizar button{
    width: 100%;
    padding: 15px;
    margin: 0 auto ;

}

#visualizar p{
    width: 100%;
    border-radius: 5px;
    border: none;
    border: solid 0.5px black;
    padding: 15px;
}

.home{
    background-color:greenyellow;;
    display:flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 8vh;

}

.home a :hover{
    color: green;
    text-decoration: none;
}

.home a {
    text-decoration: none;
}

.voltar{
    padding: 6px;
    border-radius: 10px;
    border: none;
    width: 50%;
    text-align: center;
    background-color: greenyellow;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    cursor: pointer;

}
